* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*MENU NAV*/

nav.menu-nav {
	background-color: #1a1a1a;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

nav.menu-nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}
 nav.menu-nav ul li a {
 	color: #fff;
 	text-decoration: none;
 	padding: 12px;
 }

 nav.menu-nav ul li a:hover {
 	background-color: #fff;
 	color: #1a1a1a;
 	border-radius: 4px;
 }

div.main {
	display: flex;
	justify-content: center;
}

img {
	width: 1300px;
	height: 1124px;
}